@import "hiyya-bootstrap";

.loader {
    position: absolute;
    left: -66px;
    top: 125px;
    @include transition(all .2s ease-in-out);
    @include opacity(0);
    &.loading {
        @include opacity(1);
    }
    .outer-circle {
        background-color: transparent;
        border-top: 1px solid rgba(58, 212, 163, 0.8);
        border-right: 2px solid rgba(0, 0, 0, 0);
        border-bottom: 2px solid rgba(58, 212, 163, 0.8);
        border-left: 2px solid rgba(0, 0, 0, 0);
        @include opacity(.9);
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin: 0 auto;
        @include animation(spin-pulse 3s infinite ease-in-out)
    }

    .inner-circle {
        background-color: transparent;
        border-top: 1px solid rgba(58, 212, 163, 0.6);
        border-right: 3px solid rgba(0, 0, 0, 0);
        border-bottom: 2px solid rgba(58, 212, 163, 0.6);
        border-left: 2px solid rgba(0, 0, 0, 0);
        @include opacity(.9);
        border-radius: 100px;
        top: -44px;
        width: 40px;
        height: 40px;
        margin: 0 auto;
        position: relative;
        @include animation(spinnoff-pulse 1s infinite linear);
    }
}

// animation

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @-o-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}

@include keyframes(spin-pulse) {
    0% {
        @include rotate(160deg);
        opacity: 0;
        @include box-shadow(0 0 1px #3AD4A3);
    }
    50% {
        @include rotate(145deg);
        opacity: 1;
    }
    100% {
        @include rotate(-320deg);
        opacity: 0;
    }
}

@include keyframes(spinnoff-pulse) {
    0% {
        @include rotate(0deg);
    }
    100% {
        @include rotate(360deg);
    }
}


