html{
    min-height: 100%;
    position: relative;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight:400;
    margin: 0 0 60px;
}
a{color: #545454;}
a:hover, a:focus{color: #3ad4a3;}
.container{max-width:980px;}
.btn{font-weight: 500;font-size: 18px;border:0;padding-top:7px;padding-bottom:7px;}
.form-control{box-shadow:none!important;-moz-box-shadow:none!important;-webkit-box-shadow:none!important;
border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;}
.form-control:focus{border-color:#3ad4a3; }
.header{border-bottom:1px solid #e9e9e9;min-height:120px;position:relative;margin-bottom:3px;}
.logo{position:absolute;margin-top:60px;z-index:2;}
.navbar-header .navbar-toggle{border-color:#fff;}
.navbar-toggle .icon-bar{background-color:#3dd978;}
.navbar-nav{margin-top:85px;margin-left:167px;}
.navbar-nav.navbar-right{margin-left:0;}
.navbar-nav > li{margin:0 30px;}
.navbar-nav.navbar-right > li{margin:0;}
.navbar-nav > li > a, .nav-tabs > li > a{font-size: 18px;font-family: 'Roboto', sans-serif;font-weight: 300;color:#2c2c35;}
.navbar-nav > li > a{padding:0;background:none!important;}
.navbar-nav > li > a:hover{color:#3ad4a3;}
.text-medium{font-weight: 500!important;}
.text-light{font-weight: 300!important;}
.carousel{
    margin-bottom:20px;
    min-height: 320px;
}
.carousel-indicators{bottom:0;}
.carousel-indicators li{border-color:#7b7b7b;margin:0;}
.carousel-indicators .active{background-color:#7b7b7b;width:10px;height:10px;}
.nav-tabs{border:1px solid #e9e9e9;}
.nav-tabs > li{margin-bottom:0;}
.nav-tabs > li > a{border:0;border-right:1px solid #e9e9e9;margin:0;border-left:0!important;min-width:120px;text-align:center;padding:16px 15px;
border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{border-top:0;border-bottom:0;color:#3ad4a3;}
.tab-content > .tab-pane{padding:20px 10px;}
.count{color:#fff;background-color:#c44b4b;font-size: 12px;padding:0 5px;position:absolute;top:5px;right:5px;
border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;}
.thumbnail{border:0;}
.thumbnail .caption{padding:9px;background-color:#efefef;border-top:1px solid #c4c4c4;font-size: 16px;}
.thumbnail .caption h3{font-size: 18px;margin:0;}
.pimg{position:relative;}
.pimg > img{border:1px solid #fff;border-bottom:0;width:100%;}
.pattribute{display:none;position:absolute;left:0;right:0;top:0;bottom:0;cursor:pointer;}
.pattribute .glyphicon{color:#3da4d9;font-size: 18px;}
.zoom{background:url(../img/zoom.png) no-repeat;width:47px;height:47px;top:10px;right:10px;position:absolute;}
.meta{position:absolute;bottom:5px;left:5px;right:5px;}
.heart{background:url(../img/heart.png) no-repeat;width:25px;height:20px;font-size: 10px;color:#fff;text-align: center;line-height:18px;
float:left;}
.fb-like{margin-left:45px;}
.btn-send{visibility:hidden;}
.thumbnail:hover .pimg > img{border-color:#e9e9e9;}
.thumbnail:hover .pattribute{display:block;}
.thumbnail:hover .btn-send{visibility:visible;}
.mb20{margin-bottom:20px;}
.media-heading{font-size:16px;font-weight: 500;}
.media > .pull-left{border:1px solid #e1e1e1;}
.modal-content{border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;}
.modal880 .modal-dialog{width:880px;}
.modal640 .modal-dialog{width:640px;}
.modal-body{
    min-height: 500px;
}
.bg-grey{
    background-color:#f5f5f5;
    position: relative;
}
#product-detail .modal-body{
    overflow: hidden;
}
.bg-grey:after{
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    height: 1000px;
    content: '';
    background-color:#f5f5f5;
}
.p0{padding:0;}
.p20{padding:20px;}
.carousel-nav{text-align:center;margin-top:20px;}
.carousel-nav .carousel-control-left, .carousel-nav .carousel-control-right{font-size:50px;color:#c1c1c1;text-decoration:none;height:30px;
line-height:18px;margin-top:12px;}
.carousel-nav .carousel-control-left{float:left;}
.carousel-nav .carousel-control-right{float:right;}
.carousel-indicators-img{list-style:none;padding:0;display:inline-block;}
.carousel-indicators-img > li{float:left;cursor:pointer;border:1px solid #ebebeb;}
.avatar{border:1px solid #ebebeb;display:inline-block;}
.fz18{font-size: 18px;}
h3.fz18{margin:0;}
.step{margin-bottom:20px;}
.text-grey{color:#666666;}
.step-position{text-align:center;font-size: 16px;color:#666666;}
.progress{background-color:#d6d6d6;height:15px;overflow:visible;
border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;
box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;}
.progress-bar{background-color:#4b7bc4;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;position:relative;
border-radius:10px 0 0 10px;-moz-border-radius:10px 0 0 10px;-webkit-border-radius:10px 0 0 10px;}
.progress-bar[style="width: 100%;"], .progress-bar[style="width:100%;"]{border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;}
.progress-caption{position:absolute;bottom:100%;right:-15px;margin-bottom:9px;}
.progress-caption:after{display:inline-block;width:0;height:0;margin-left:2px;vertical-align:middle;border-top:7px solid #4b7bc4;border-right:7px solid transparent;border-left:7px solid transparent;position:absolute;content:"";top:100%;left:50%;margin-left:-7px;}
.fb-invite{
    border:1px solid #ebebeb;
    width:598px;height:358px;
    padding:20px 50px;
}
.mt45{margin-top:45px;}
.friend-list{
    list-style:none;
    padding:0;
    overflow-y: scroll;
    height: 273px;
}
.friend-list > li .name{
    margin: 9px 0 0;
}
.friend-list > li{float:left;margin:0 9px 10px;}
.btn-bordered{border:1px solid #e1e1e1;color:#4d4d4d;font-size: 16px;font-weight: 400;white-space:normal;}
.reason .btn{margin-bottom:10px;}
textarea.form-control.txt-message{height:298px;font-size: 18px;margin-bottom:20px;}
.plr60{padding-left:60px;padding-right:60px;}
.w280{max-width:280px;margin:0 auto;}
#invite .modal-body{min-height: 580px;}
.wizard-steps, .wizard-footer{display: none;}
.wizard-header h3{font-size: 18px;color:#666666;font-weight: 500;}
.wizard .modal-header{border-bottom: 0;}
.wizard-card-container{margin-left: 0;}
.wizard-error, .wizard-failure, .wizard-success, .wizard-loading, .wizard-card{padding: 0 20px;}
.wizard-card{border-top: 0;}

.footer{
    border-top: 1px solid #e9e9e9;
    padding: 10px 10px 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
}
.nav.nav-pills > li{margin: 0 15px;}
.nav.nav-pills > li:first-child{margin-left: 0;}
.nav.nav-pills > li > a{padding:0;background: none!important;}
.icon-twitter, .icon-facebook{background: url(../img/icon-socials.png) no-repeat;width:24px;height: 22px;display: inline-block;vertical-align: text-top;}
.icon-facebook{background-position: -140px 0;}
.socials{float: right;}
.btn-twitter, .btn-facebook{
    display: inline-block;color: #fff!important;font-size: 18px;text-decoration: none!important;
border-radius: 6px;}
.btn-twitter{
    background-color: #21bef1;
padding:7px 15px;}
.btn-facebook{background-color: #5f86ce;
padding:7px 13px 7px 17px;;
}
.btn-twitter:hover{background-color: #1fb4e5;}
.btn-facebook:hover{background-color: #597dc0;}
.btn-49{width: 49.2%;}
.name{color: #838383;font-size: 12px;text-align: center;margin-top: 5px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 100px;}
.search-wrap{position: relative;}
.input-search,.form-control{border-left: 0;border-top: 0;border-right: 0;margin-bottom: 20px;padding-left: 25px;font-size: 18px;font-weight: 300;}
.search-wrap > .glyphicon-search{position: absolute;left:0;color: #d6d6d6;top:8px;font-size: 18px;}
.text-red{color: #c44b4b;}
.text-green{color: #3dd978;}
.reason .text-red, .reason .text-green{margin: 0 5px;}
.expired-date{
    display: inline-block;
    font-weight: 500;
    padding: 5px;
    margin: 5px;
    background: rgba(255, 255, 255, .8);
}
.red-1{background: url(../img/red-01.jpg) no-repeat;width: 250px;height: 250px;position: absolute;top:0px;right: 0px;z-index: 1}
.red-2{background: url(../img/red-02.jpg) no-repeat;width: 254px;height: 254px;position: absolute;bottom:0px;left: 0px;z-index: 1}
.zin100{z-index: 100;position: relative;}
.w320{max-width: 320px;margin: 0 auto;padding: 20px;}

@media screen and (max-width: 980px) {
.navbar-nav{margin-left:140px;}
.navbar-nav > li{margin:0 10px;}
.navbar-nav > li > a{font-size: 16px;}
}
@media screen and (max-width: 640px) {
.header{min-height:65px;}
.logo{margin-top:5px;}
.navbar-collapse{margin:40px 0 20px;}
.navbar-nav{margin:0;}
.navbar-nav > li{margin:10px 0;}
}
@media screen and (max-width: 360px) {
.nav-tabs > li > a{min-width:0;}
}

.wizard-card .w320 .form-group{
	margin-bottom: 0;
}

#carousel-product{
	padding: 20px;
}
.carousel-inner .item img{
	margin: auto;
}

.flash-message{
    position: fixed;
    top: 10px;
    width: 300px;
    background: rgb(255, 255, 255);
    left: 50%;
    margin-left: -150px;
    padding: 20px;
    box-shadow: 0px 0px 1px 1px rgba(127, 127, 127, 0.3);
    color: rgb(139, 0, 0);
}
.flash-message:after {
    background: rgba(255, 255, 255, 0.6);
    top: -1000px;
    left: -1000px;
    bottom: -1000px;
    right: -1000px;
    content: '';
    position: absolute;
    z-index: -1;
}
.flash-message a{
    position: absolute;
    right: 10px;
    top: 10px;
}

.btn-faded{
    cursor: default;
    opacity: .4;
}

